flows/01-amazon-echo.json
[{"type":"tab","id":"1f187468.bc9e5c","label":"Hue Bridge Emulator"},{"id":"62ee5222.56aba4","type":"udp in","z":"1f187468.bc9e5c","name":"","iface":"","port":"1900","ipv":"udp4","multicast":"true","group":"239.255.255.250","datatype":"utf8","x":300,"y":420,"wires":[["24771c47.f1fb9c","2e3ca02.882f16"]]},{"id":"a4dbf63d.ce7d7","type":"debug","z":"1f187468.bc9e5c","name":"UDP Search Packets","active":false,"console":"false","complete":"payload","x":860,"y":380,"wires":[]},{"id":"24771c47.f1fb9c","type":"function","z":"1f187468.bc9e5c","name":"Filter on search packets","func":"\nif (msg.payload.indexOf('M-SEARCH * HTTP/1.1') === 0 && \n  (msg.payload.indexOf('MAN: \"ssdp:discover\"') != -1) || msg.payload.indexOf('Man:\"ssdp:discover\"') != -1){\n    return msg\n} else {\n    return null\n}","outputs":1,"noerr":0,"x":590,"y":420,"wires":[["a4dbf63d.ce7d7","3f725e90.67f21a","777ab04f.ec358"]]},{"id":"2e3ca02.882f16","type":"debug","z":"1f187468.bc9e5c","name":"UDP Packets","active":false,"console":"false","complete":"payload","x":550,"y":380,"wires":[]},{"id":"434e95a9.c04d0c","type":"udp out","z":"1f187468.bc9e5c","name":"","addr":"","iface":"","port":"","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1070,"y":420,"wires":[]},{"id":"3f725e90.67f21a","type":"function","z":"1f187468.bc9e5c","name":"Create UDP response","func":"\nvar ip = '192.168.0.7'\nvar port = '1880'\nvar identifier = 'lcat-node-red-bridge'\nvar nls = 'D1710C33-328D-4152-A5FA-5382541A92FF'\n\nvar discovery_string = \"HTTP/1.1 200 OK\\r\\n\" +\n\t\t\t\"CACHE-CONTROL: max-age=86400\\r\\n\" +\n\t\t\t\"EXT:\\r\\n\" +\n\t\t\t\"LOCATION: http://\"+ip+\":\"+port+\"/upnp/setup.xml\\r\\n\" +\n\t\t\t\"OPT: \\\"http://schemas.upnp.org/upnp/1/0/\\\"; ns=01\\r\\n\" +\n\t\t\t\"01-NLS: \"+nls+\"\\r\\n\" +\n\t\t\t\"ST: urn:schemas-upnp-org:device:basic:1\\r\\n\" +\n            \"USN: uuid:Socket-1_0-221438K0100073::urn:Belkin:device:**\\r\\n\\r\\n\";\n\n// var discovery_string = \"HTTP/1.1 200 OK\\r\\n\" +\n// \t\t\t\"CACHE-CONTROL: max-age=86400\\r\\n\" +\n// \t\t\t\"EXT:\\r\\n\" +\n// \t\t\t\"LOCATION: http://\"+ip+\":\"+port+\"/upnp/setup.xml\\r\\n\" +\n// \t\t\t\"hue-bridgeid: 001788FFFE29D301\\r\\n\" +\n// \t\t\t\"ST: urn:schemas-upnp-org:device:basic:1\\r\\n\" +\n//             \"USN: uuid:2f402f80-da50-11e1-9b23-00178829d301\\r\\n\\r\\n\";\n\n\n/*\nHTTP/1.1 200 OK\nHOST: 239.255.255.250:1900\nEXT:CACHE-CONTROL: max-age=100\nLOCATION: http://192.168.xxx.xxx:80/description.xml\nSERVER: Linux/3.14.0 UPnP/1.0 IpBridge/1.16.0\nhue-bridgeid: 001788FFFE29D301\nST: urn:schemas-upnp-org:device:basic:1\nUSN: uuid:2f402f80-da50-11e1-9b23-00178829d301\n*/\n\nmsg.payload = discovery_string\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":420,"wires":[["434e95a9.c04d0c"]]},{"id":"777ab04f.ec358","type":"debug","z":"1f187468.bc9e5c","name":"","active":false,"console":"false","complete":"true","x":810,"y":340,"wires":[]},{"id":"1eca24ea.115c23","type":"comment","z":"1f187468.bc9e5c","name":"Create list of known managed devices","info":"","x":410,"y":220,"wires":[]},{"id":"807f342.d748948","type":"http in","z":"1f187468.bc9e5c","name":"","url":"/upnp/setup.xml","method":"get","swaggerDoc":"","x":320,"y":540,"wires":[["e3b58ea0.dce6d8","e5f18e6a.fb01f8"]]},{"id":"8bdddb1e.4c548","type":"http response","z":"1f187468.bc9e5c","name":"","x":850,"y":520,"wires":[]},{"id":"e3b58ea0.dce6d8","type":"function","z":"1f187468.bc9e5c","name":"Create device definition XML","func":"var ip = '192.168.0.7'\nvar port = '1880'\nvar uuid = '694e9a28-d96c-47c4-a682-50ca43571390'\n\nvar hueTemplate = \"<?xml version=\\\"1.0\\\"?>\\n\" +\n                \"<root xmlns=\\\"urn:schemas-upnp-org:device-1-0\\\">\\n\" +\n                \"<specVersion>\\n\" +\n                \"<major>1</major>\\n\" +\n                \"<minor>0</minor>\\n\" +\n                \"</specVersion>\\n\" +\n                \"<URLBase>http://\"+ip+\":\"+port+\"/hue-bridge</URLBase>\\n\" + //hostname string\n                \"<device>\\n\" +\n                \"<deviceType>urn:schemas-upnp-org:device:Basic:1</deviceType>\\n\" +\n                \"<friendlyName>LCAT-Hue Bridge (\"+ip+\")</friendlyName>\\n\" +\n                \"<manufacturer>Royal Philips Electronics</manufacturer>\\n\" +\n                \"<manufacturerURL>http://www.github.com/fraz3alpha</manufacturerURL>\\n\" +\n                \"<modelDescription>Node Red Hue Bridge for Amazon Echo</modelDescription>\\n\" +\n                \"<modelName>Philips hue bridge 2012</modelName>\\n\" +\n                \"<modelNumber>929000226503</modelNumber>\\n\" +\n                \"<modelURL>http://www.github.com/fraz3alpha/node-red-echo-hue-brdige</modelURL>\\n\" +\n                \"<serialNumber>\"+uuid+\"</serialNumber>\\n\" +\n                \"<UDN>uuid:\"+uuid+\"</UDN>\\n\" +\n                \"<serviceList>\\n\" +\n                \"<service>\\n\" +\n                \"<serviceType>(null)</serviceType>\\n\" +\n                \"<serviceId>(null)</serviceId>\\n\" +\n                \"<controlURL>(null)</controlURL>\\n\" +\n                \"<eventSubURL>(null)</eventSubURL>\\n\" +\n                \"<SCPDURL>(null)</SCPDURL>\\n\" +\n                \"</service>\\n\" +\n                \"</serviceList>\\n\" +\n                \"<presentationURL>index.html</presentationURL>\\n\" +\n                \"<iconList>\\n\" +\n                \"<icon>\\n\" +\n                \"<mimetype>image/png</mimetype>\\n\" +\n                \"<height>48</height>\\n\" +\n                \"<width>48</width>\\n\" +\n                \"<depth>24</depth>\\n\" +\n                \"<url>hue_logo_0.png</url>\\n\" +\n                \"</icon>\\n\" +\n                \"<icon>\\n\" +\n                \"<mimetype>image/png</mimetype>\\n\" +\n                \"<height>120</height>\\n\" +\n                \"<width>120</width>\\n\" +\n                \"<depth>24</depth>\\n\" +\n                \"<url>hue_logo_3.png</url>\\n\" +\n                \"</icon>\\n\" +\n                \"</iconList>\\n\" +\n                \"</device>\\n\" +\n\"</root>\\n\";\n\nmsg.headers = {'Content-Type': 'application/xml'}\nmsg.payload = hueTemplate\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":520,"wires":[["8bdddb1e.4c548"]]},{"id":"e5f18e6a.fb01f8","type":"debug","z":"1f187468.bc9e5c","name":"uPNP Setup","active":false,"console":"false","complete":"payload","x":590,"y":480,"wires":[]},{"id":"d4159513.50bf18","type":"http in","z":"1f187468.bc9e5c","name":"","url":"/api/:id/lights","method":"get","swaggerDoc":"","x":330,"y":600,"wires":[["e4d1fcb.440988"]]},{"id":"5aa57fc4.df5be8","type":"http response","z":"1f187468.bc9e5c","name":"","x":850,"y":640,"wires":[]},{"id":"e4d1fcb.440988","type":"function","z":"1f187468.bc9e5c","name":"Return device list JSON","func":"\nmsg.payload = global.get('lights')\nmsg.headers = {'Content-Type': 'application/json'}\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":640,"wires":[["5aa57fc4.df5be8","15f87f93.f4faa"]]},{"id":"15f87f93.f4faa","type":"debug","z":"1f187468.bc9e5c","name":"","active":false,"console":"false","complete":"false","x":870,"y":600,"wires":[]},{"id":"90242f37.2fc74","type":"http in","z":"1f187468.bc9e5c","name":"","url":"/api/:id/lights/:lid/state","method":"put","swaggerDoc":"","x":310,"y":720,"wires":[["d8aa347.d699548"]]},{"id":"eeebf8d5.af08a8","type":"function","z":"1f187468.bc9e5c","name":"Construct success reply","func":"\nlight = \"/lights/\"+msg.req.params.lid+\"/state/on\"\n\nmsg.payload = [{\"success\":{}}]\nmsg.payload[0].success[light] = true\nmsg.headers = {'Content-Type': 'text/plain;charset=UTF-8'}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":880,"wires":[["1ad56aea.776375","789b6e9a.3225","da448324.3eb3d8"]]},{"id":"1ad56aea.776375","type":"http response","z":"1f187468.bc9e5c","name":"","x":850,"y":960,"wires":[]},{"id":"789b6e9a.3225","type":"debug","z":"1f187468.bc9e5c","name":"","active":false,"console":"false","complete":"false","x":870,"y":880,"wires":[]},{"id":"da448324.3eb3d8","type":"debug","z":"1f187468.bc9e5c","name":"","active":true,"console":"false","complete":"hue_device","x":890,"y":920,"wires":[]},{"id":"c32122cb.b501d","type":"http in","z":"1f187468.bc9e5c","name":"","url":"/api/:id/lights/:lid","method":"get","swaggerDoc":"","x":320,"y":660,"wires":[["636be6b4.f89ac8"]]},{"id":"7804b028.c2e348","type":"http response","z":"1f187468.bc9e5c","name":"","x":850,"y":720,"wires":[]},{"id":"636be6b4.f89ac8","type":"function","z":"1f187468.bc9e5c","name":"Return device state JSON","func":"var lights = global.get('lights')\nvar light_data = lights[msg.req.params.lid]\n\nmsg.payload = light_data\nmsg.headers = {'Content-Type': 'application/json'}\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":720,"wires":[["7804b028.c2e348"]]},{"id":"b3dcd616.d84088","type":"function","z":"1f187468.bc9e5c","name":"Set global device list","func":"\nvar device_list = ['christmas tree', 'big light', 'lamp', 'bed lights', 'enchanted object']\n\nvar template_device = {\n    \"state\": {\n        \"on\": false,\n        \"bri\": 254,\n        \"hue\": 15823,\n        \"sat\": 88,\n        \"effect\": \"none\",\n        \"ct\": 313,\n        \"alert\": \"none\",\n        \"colormode\": \"ct\",\n        \"reachable\": true,\n        \"xy\": [\n            0.4255,\n            0.3998\n        ]\n    },\n    \"type\": \"Extended color light\",\n    \"name\": \"<replace>\",\n    \"modelid\": \"LCT001\",\n    \"manufacturername\": \"Philips\",\n    \"uniqueid\": \"<replace>\",\n    \"swversion\": \"65003148\",\n    \"pointsymbol\": {\n        \"1\": \"none\",\n        \"2\": \"none\",\n        \"3\": \"none\",\n        \"4\": \"none\",\n        \"5\": \"none\",\n        \"6\": \"none\",\n        \"7\": \"none\",\n        \"8\": \"none\"\n    }\n}\n\nvar lights = {}\n\nid_counter = 0\ndevice_list.forEach(function(e) {\n    l =  JSON.parse(JSON.stringify(template_device))\n    l.name = e\n    l.uniqueid = id_counter++\n    lights[l.uniqueid] = l\n})\n\n\nglobal.set('lights', lights)\n\nmsg.payload = lights\n\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":260,"wires":[["6d861c52.ed7ce4"]]},{"id":"a0c3103c.a7ec08","type":"inject","z":"1f187468.bc9e5c","name":"Populate Devices","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":360,"y":260,"wires":[["b3dcd616.d84088"]]},{"id":"6d861c52.ed7ce4","type":"debug","z":"1f187468.bc9e5c","name":"","active":true,"console":"false","complete":"false","x":830,"y":260,"wires":[]},{"id":"d8aa347.d699548","type":"function","z":"1f187468.bc9e5c","name":"Fix encoding","func":"\nconsole.log(msg.req.body)\n\nfor (var key in msg.req.body) {\n    msg.payload = JSON.parse(key)\n    break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":820,"wires":[["8b4437fb.ff5e08","388c3f59.052ad8"]]},{"id":"8b4437fb.ff5e08","type":"debug","z":"1f187468.bc9e5c","name":"","active":false,"console":"false","complete":"false","x":770,"y":780,"wires":[]},{"id":"17194447.059d74","type":"comment","z":"1f187468.bc9e5c","name":"Required endpoints","info":"","x":330,"y":480,"wires":[]},{"id":"388c3f59.052ad8","type":"function","z":"1f187468.bc9e5c","name":"Construct Device Message","func":"msg.hue_device = {\n    'id': msg.req.params.lid,\n    'name': global.get('lights')[msg.req.params.lid].name\n}\n\nfor (var key in msg.payload) {\n    msg.hue_device[key] = msg.payload[key]\n}\n\nconsole.log(JSON.stringify(msg.hue_device))\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":820,"wires":[["eeebf8d5.af08a8","2f5a9852.90b9a8"]]},{"id":"edbd049f.6cae5","type":"comment","z":"1f187468.bc9e5c","name":"Provide uPNP discovery mechanism","info":"","x":320,"y":340,"wires":[]},{"id":"2f5a9852.90b9a8","type":"switch","z":"1f187468.bc9e5c","name":"","property":"hue_device.name","propertyType":"msg","rules":[{"t":"eq","v":"enchanted object","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1150,"y":720,"wires":[["6730d891.9f9a78"],["4b71f46a.a8d564"]]},{"id":"6730d891.9f9a78","type":"function","z":"1f187468.bc9e5c","name":"Turn on/off","func":"if (msg.payload.on) {\n    msg.payload = '#ffffff'\n} else {\n    msg.payload = '#000000'\n}\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":700,"wires":[["428cb1e3.7b3f38"]]},{"id":"428cb1e3.7b3f38","type":"debug","z":"1f187468.bc9e5c","name":"","active":true,"console":"false","complete":"false","x":1530,"y":700,"wires":[]},{"id":"4b71f46a.a8d564","type":"debug","z":"1f187468.bc9e5c","name":"","active":true,"console":"false","complete":"false","x":1360,"y":760,"wires":[]},{"id":"f8ff0ef3.4b133","type":"comment","z":"1f187468.bc9e5c","name":"Enchanted Object","info":"","x":1330,"y":660,"wires":[]}]